* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
  color: #7f8c8d;
  font-size:16px;
  font-family: Avenir-Next,Roboto,sans-serif;
}
nav ul{
  display:flex;
  flex-direction:row;
  border:1px solid black;
  background-color:#f9f9f9;
  list-style-type:none;
  justify-content:space-evenly;
  align-items:center;
}
#header-img {
  margin-right:350px;
  margin-left:-55px;
}
li a{
  text-decoration:none;
  color:inherit;
  font-weight:400;
}
#header-img{
  width:100px;
  height:30px;
  margin-top:7px;
  margin-bottom:4px;
}
.button-type {
  background-color:tomato;
  padding:2px 40px;
  margin-right:-55px;
}

.btn-1 {
  padding:14px 70px;
  background:#4992ca;
  border:none;
  color:white;
  font-weight:500;
  font-size:16px;
  margin-top:20px;
  margin-bottom:30px;
  cursor: pointer;
}

.btn-2 {
    padding:20px 40px;
    background-color:#0000;
    border:2px solid #fff;
    color:white;
    font-size:16px;
    margin-bottom:20px;
    display:block;
    cursor: pointer;
  }

.box {
    width:100%;
    overflow: hidden;
    height:650px;
    border:1px solid red;
    position:relative;
    background-image: url('abc.jpg');
}
.box-content {
    position:absolute;
    top:0;
    padding-left: 200px;
    padding-right: 200px;
}
.box-content h1{
    color:white;
    font-size:90px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.box-content #p1 {
    color:white;
    font-size:2em;
}
.box-content > #p2{
    font-size:16px;
    display:inline-block;
    background:white;
    color:Black;
    padding:12px 18px;
    border-radius:15px;
  }
  .box-content > #p2 > a {
      text-decoration: none;
      color:black;
      font-weight: 600;
  }
  .box2{
      height:750px;
      border: 2px solid green;
      display: flex;
      flex-direction: column;
      background-color: #4992ca;
      color:white;
  }
  .box2 > .box2-content > .first {
    font-family: Avenir-Next,Roboto,sans-serif !important;
    text-align:center;
    margin:auto;
  }
  .box2 > .box2-content > .first #p3,#p4 {
      font-size: 19px;
      padding: 20px 180px 20px 180px;
  }
  .box2 > .box2-content > .first #h2 {
    font-size:45px;
    padding-top:20px;
}
 .box2 >.box2-content > .second {
    border:2px solid green;
    display:flex;
    flex-direction: wrap;
    flex-direction:row;
    justify-content: space-around;
    width:1150px;
    margin:auto;
} 
.box2 >.box2-content > .second > .point-one {
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:18px;
}
.box2 >.box2-content > .second > .point-two {
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 >.box2-content > .second > .point-three {
    border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box2 >.box2-content > .second h4 {
    font-size:30px;
}